@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Cabin", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  background: linear-gradient(110deg, #0000ff 20%, #0000cc 80%);
  background-size: cover;
}

.info {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.info h2 {
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 4px;
  font-size: 1.9em;
  text-align: center;
}

.page-navigation {
  margin: 20px 0 0 10px;
}

.page-navigation ul li {
  list-style-type: none;
}

.page-navigation ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8em;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.page-navigation ul li a:hover {
  color: #2a97ed;
  transition: all ease 0.4s;
}

.content {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content h3,
p {
  color: #ffffff;
  padding: 10px;
  margin: 15px 0;
  font-weight: 600;
}

.content h3 {
  font-size: 2.2em;
}

.content p {
  font-size: 1.6em;
  color: #ebebeb;
}

.content ol {
  list-style-type: none;
  padding: 0;
}

.content ol li {
  color: #ffffff;
  padding: 5x;
  font-size: 1.4em;

  word-spacing: 1px;
  margin: 3px 0;
}

.content-left {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
}

.content-right {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
}

.links {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  color: yellowgreen;
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
  font-weight: 700;
}

footer {
  background: #000000;
  flex-direction: row;
}

footer h1 {
  color: #ffffff;
  margin: 30px auto 30px;
  font-size: 1.2em;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: lightblue;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3em;
}

footer a:hover {
  color: red;
  transition: all 0.6s ease;
}

@media (max-width: 1340px) {
  .info {
    margin-top: 10px;
  }

  .content h3,
  p {
    padding: 5px;
    margin: 5px 0;
  }

  .content h3 {
    font-size: 1.8em;
  }

  .content p {
    font-size: 1.4em;
  }

  .content ol li {
    padding: 4x;
    font-size: 1.3em;
  }
}

@media (max-width: 1070px) {
  .info {
    margin-top: 20px;
  }

  .content h3,
  p {
    padding: 4px;
    margin: 6px 0;
  }

  .content h3 {
    font-size: 1.7em;
  }

  .content p {
    font-size: 1.3em;
  }

  .content ol li {
    padding: 3x;
    font-size: 1.2em;
  }
}

@media (max-width: 900px) {
  .info {
    margin-top: 10px;
  }

  .info h2 {
    font-size: 1.4em;
  }

  .content {
    margin-top: 5px;
  }

  .content h3,
  p {
    padding: 3px;
    margin: 7px 0;
  }

  .content h3 {
    font-size: 1.6em;
  }

  .content p {
    font-size: 1.2em;
  }

  .content-right p {
    margin-top: 15px;
    font-size: 1.4em;
  }

  .links {
    margin-top: 5px;
  }
}

@media (max-width: 680px) {
  header {
    height: 130vh;
  }

  .info {
    margin-top: 25px;
  }

  .info h2 {
    font-size: 1.3em;
  }

  .content {
    margin-top: 4px;
  }

  .content h3 {
    font-size: 1.4em;
  }

  .content p {
    font-size: 1.1em;
    margin: 5px 0;
    padding: 0;
  }

  .content-right p {
    margin-top: 15px 0;
    font-size: 1.3em;
  }
}

@media (max-width: 620px) {
  header {
    height: 160vh;
  }

  .links {
    flex-direction: column;
  }

  .links a {
    font-size: 1.2em;
  }

  footer h1 {
    margin: 20px auto 20px;
    font-size: 0.8em;
    padding: 5px;
  }

  footer a {
    font-size: 1em;
  }
}
